@import 'tailwindcss';
@import "bootstrap-icons/font/bootstrap-icons.css";


@theme{

    --color-primary : #fca311;
    --color-primary-translucent : #fca31199;
    --color-secondary : #14213d;
    --color-dull : #1a1a1a;

    --font-monty : "Montserrat", sans-serif;
    --font-poiret : "Poiret One", sans-serif;
    --font-jura : "Jura", sans-serif;
    --font-barlow : "Barlow Condensed", sans-serif;
    --font-grot : "Dark Grotesque", sans-serif;
    --font-poppins : "Poppins", sans-serif;
    --font-monoton : "Monoton", sans-serif;
    --font-train : "Train One", sans-serif;
    --font-headline : "Tech Headlines", sans-serif;
    --font-cryo : "cryogenix", sans-serif;
    --font-future : 'This Is The Future', sans-serif;
    --font-futura : 'Futura', sans-serif;

}


@keyframes shadowGlow {

    0%{
        box-shadow: -2px 0 5px 0px #fca311;
    }

    50%{
        box-shadow: 2px 0 15px 0px #fca311;
    }
    
    100%{
        box-shadow: -2px 0 5px 0px #fca311;
    }
    
}



.custom-scrollbar::-webkit-scrollbar{
    width: 0;
    z-index: -1;
}


.scrollable-inner {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}